__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
.env

.ipynb_checkpoints/
.DS_Store

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/sample/*
!data/sample/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep

outputs/tables/*
!outputs/tables/.gitkeep

outputs/diagnostics/*
!outputs/diagnostics/.gitkeep

outputs/interactive/*
!outputs/interactive/.gitkeep